<%- include("partials/header") %>
    <title>Bat Locations</title>
    <script>
        let map;
  
        function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat:  25.3026511, lng: 55.4818249 },
            zoom: 10,
          });
        }
      </script>
    </head>

    <body>
        <h1>Hello, world!</h1>
        <%for(const inc of incidents){ %>
            <%= inc %>
                <% } %>
        <div id="map"></div>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA__C1hnT5apk-I5uYcqgDb5yWRMqkR-ko&callback=initMap&libraries=&v=weekly"
                async
        ></script>
<%- include("partials/footer") %>