/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 90%;
}

#footer-text{
    padding-top: 20px;
}
/* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#toggleMapTable{
    margin-left: 14.5px;
    margin-bottom: 10px;

}